.MediaPlayerControl {
  margin-top: 20px;
}

.MediaPlayerControl-MediaDescription {
  display: grid;
  grid-template-columns: 53px 1fr;
}

.MediaPlayerControl-Icon {
  max-width: 53px;
  max-height: 53px;
  border-radius: 7px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.MediaPlayerControl-Description {
  margin-left: 16px;
}

.MediaPlayerControl-ArtistInfo {
  font-size: 20px;
  display: flex;
}

@media (max-width: 850px) {
  .MediaPlayerControl-ArtistInfo {
    font-size: 18px;
    display: block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}

.MediaPlayerControl-TrackHelperSeparator {
  margin: 0 5px;
}

@media (max-width: 900px) {
  .MediaPlayerControl-ArtistInfo {
    flex-direction: column;
  }
  .MediaPlayerControl-TrackHelperSeparator {
    display: none;
  }
}

.MediaPlayerControl-TrackProgress {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
}

.MediaPlayerControl-TrackProgressLine {
  position: relative;
  height: 2px;
  background-color: #979797;
  width: 100%;
}

.MediaPlayerControl-TrackProgressSlider {
  height: 20px;
  width: 12px;
  background: #D8D8D8;
  border-radius: 4.5px;
  position: absolute;
  top: -10px;
  left: 80%;
}

.MediaPlayerControl-TrackLength {
  font-size: 14px;
  color: rgba(161, 161, 161, 0.84);
  justify-self: end;
}

.MediaPlayerControl-TrackControls {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-column-gap: 6px;
}

.MediaPlayerControl-RemoteButtons {
  display: flex;
  justify-content: space-between;
}

.MediaPlayerControl-RemoteButtonsLeft, .MediaPlayerControl-RemoteButtonsRight {
  width: 53px;
  height: 53px;
  background-image: url("/images/Prev.svg");
}

.MediaPlayerControl-RemoteButtonsRight {
  transform: rotate(180deg);
}

.MediaPlayerControl-VolumeControl {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
}

.MediaPlayerControl-VolumeControlLine {
  width: 100%;
  height: 3px;
  background: rgba(216,216,216,0.30);
  border-radius: 2px;
  position: relative;
}

.MediaPlayerControl-VolumeControlSlider {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #605757;
  position: absolute;
  top: -7px;
}

.MediaPlayerControl-VolumeValue {
  font-size: 14px;
  color: rgba(161, 161, 161, 0.84);
  justify-self: end;
}