.card-content-control-player {
  margin-top: 20px;
}

.track-info {
  display: grid;
  grid-template-columns: 53px 1fr;
}

.track-info-icon {
  max-width: 53px;
  max-height: 53px;
  border-radius: 7px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.track-info-content {
  margin-left: 16px;
}

.track-info-content-artist {
  font-size: 20px;
  display: flex;
}

@media (max-width: 850px) {
  .track-info-content-artist {
    font-size: 18px;
    display: block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}

.track-info-content-artist-separator {
  margin: 0 5px;
}

@media (max-width: 900px) {
  .track-info-content-artist {
    flex-direction: column;
  }
  .track-info-content-artist-separator {
    display: none;
  }
}

.track-progress {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
}

.track-progress-line {
  position: relative;
  height: 2px;
  background-color: #979797;
  width: 100%;
}

.track-length {
  font-size: 14px;
  color: rgba(161, 161, 161, 0.84);
  justify-self: end;
}

.track-progress-slider {
  height: 20px;
  width: 12px;
  background: #D8D8D8;
  border-radius: 4.5px;
  position: absolute;
  top: -10px;
  left: 80%;
}

.player-control {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-column-gap: 6px;
}

.player-control-remotes {
  display: flex;
  justify-content: space-between;
}

.remote-left, .remote-right {
  width: 53px;
  height: 53px;
  background-image: url("/images/Prev.svg");
}

.remote-right {
  transform: rotate(180deg);
}

.player-control-volume {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
}

.volume-line {
  width: 100%;
  height: 3px;
  background: rgba(216,216,216,0.30);
  border-radius: 2px;
  position: relative;
}

.volume-slider {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #605757;
  position: absolute;
  top: -7px;
}

.volume-value {
  font-size: 14px;
  color: rgba(161, 161, 161, 0.84);
  justify-self: end;
}