@import "variables";


.Button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 0;
  max-width: 132px;
  width: 50%;
  font-weight: bold;
  margin-right: 18px;
}

.Button_yellow {
  background-color: $yellow-color;
}


@media (max-width: 850px) {
  .Button {
    font-size: 16px;
    width: 40%;
  }
}