@import "variables";

@media (min-width: 1024px) {
  .card-content-control {
    padding-right: 30px;
  }
}

.TemperatureControl {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 850px) {
  .TemperatureControl-Temperature {
    font-size: 16px;
  }
}
@media (max-width: 567px) {
  .TemperatureControl-Humidity {
    font-size: 14px;
  }
}